.menuList {
  display: flex;
  gap: 32px;
}

.menuLink {
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
.menuLink:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 1135.98px) {
   .menuList{
    display: none;
   }
}


@media screen and (max-width: 991.98px) {
  .menuList {
    column-gap: 20px;
  }
}

/* @media screen and (max-width: 768.98px) {
  .menuBody{
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: 100%;
  }
}  */