.button {
  color: inherit;
  background-color: #9333ea;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.5px;
  padding-inline: 40px;
  padding-block: 16px;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #8816f2;
}

.buttonSmall {
  font-size: 16px;
  padding-inline: 28px;
  padding-block: 12px;
  line-height: 1.5;
}

.buttonTransparent {
  background-color: transparent;
}

.buttonTransparent:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.buttonWhiteBorder {
  border: 2px solid #ffffff;
  background-color: transparent;
  padding-block: 14px;
}

.buttonWhiteBorder:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.buttonSmallTransparent {
  background-color: transparent;
  font-size: 16px;
  padding-inline: 28px;
  padding-block: 12px;
  line-height: 1.5;
}

.buttonSmallTransparent:hover {
  background-color: rgba(255, 255, 255, 0.1);
}