@import url('reset.css');

:root {
  --text-color: #ffffff;
  --text-size: 18px;
  --test-size-mobile: 18px;
  --primary-color: #008AD8;
  --bg-color:  #0F172A;
}

body {
  font-size: var(--text-size);
  font-family: 'Roboto', sans-serif;

  background-color: var(--bg-color);
  color: var(--text-color)
}

[class*='__container']{
  max-inline-size: 1310px;
  margin-inline: auto;
  padding-inline: 15px;
}
/* .search {
  border: none;
  padding: .8em;
  border-radius: 2em;
  background: white url('../public/search.svg') no-repeat right .8em center;
  width: 100%;
} */
