.header {
  width: 80%;
  margin-inline: auto auto;
  padding-block: 24px;
}

.headerLinkLogo {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  transition: all 0.3s;
}

.headerLinkLogo:hover {
  color: var(--primary-color);
}

.headerBody {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);

  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25),
    0px 0px 15px 0px rgba(0, 0, 0, 0.07);

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 48px;
  row-gap: 5px;
  padding: 24px;
  align-items: center;
}

.headerActions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}

.headerBurger {
  display: none;
}

@media screen and (max-width: 1135.98px) {
  .headerBurger {
    margin-inline-start: 2em;
    display: block;
    position: relative;
    block-size: 48px;
    height: 100%;
  }

  .headerBurger button {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-block: auto;
  }

  .headerBurger span,
  .headerBurger::before,
  .headerBurger::after {
    content: "";
    display: block;
    background: #fff;
    inline-size: 30px;
    block-size: 4px;
    border-radius: 3px;
    margin-bottom: 4px;
  }

  .headerBurger::before {
    margin-block-start: 8px;
    inline-size: 15px;
  }

  .headerBurger::after {
    margin-block-end: 8px;
    inline-size: 15px;
    margin-inline-start: auto;
  }
  
}

@media screen and (max-width: 991.98px) {
  .header {
    padding-block: 15px;
  }

  .headerBody {
    column-gap: 46px;
    row-gap: 5px;
    padding: 15px;
  }

  .headerActions {
    column-gap: 10px;
  }
}



@media screen and (max-width: 768.98px) {
  .headerBody {
    padding-block: 8px;
    padding-inline: 15px;
    /* grid-template-columns: auto auto;
    justify-content: space-between; */
  }

  .headerBurger{
    margin-inline-start: 0;
  }

}
